@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Merriweather', serif;

}


.main-nav {
  background-color: #fff;

}

.main {

  background-image: url("../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.navButton {
  margin-left: 5px;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  color: #003580;

}

.footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #003580;
}

.header-data {

  width: 100%;
  background-color: #9de2ff;
  margin-bottom: 20px;
  height: 80px;
}

.logo {
  float: left;
  width: 40px;
  margin-right: 14px;
  margin-top: 10px;
}

.logo img {
  width: 280px;
  padding-left: 20px;
}



.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}